.add-wallet-modal {
  padding: 24px;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 48px;
}

.modal-header h3 {
  margin: 0;
  font-family: 'Aribau Grotesk', sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0%;
  color: #000000;
}

.modal-info-text {
  font-size: 18px;
  color: #4B5563;
  margin-bottom: 40px;
  color: #3E4C59;
}

.modal-close-btn {
  background: none;
  border: none;
  font-size: 32px;
  cursor: pointer;
  font-weight: 500;
}

.add-wallet-form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.select-label {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: -16px;
}

.wallet-select {
  width: 392px;
  height: 64px;
  padding: 8px 20px 8px 8px;
  border: 1px solid #CBD2D9;
  border-radius: 8px;
}

.create-wallet-btn {
  width: 180px;
  height: 54px;
  background-color: #000000;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 27px;
  cursor: pointer;
  align-self: center;
}

.create-error-message {
  color: red;
  font-size: 14px;
}